* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #8b5ceb;
}

/* Main  */

.wrapper {
  position: absolute;
  width: 90vmin;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.container {
  background-color: #FAF9F6;
  padding: 50px 30px 80px 30px;
  border-radius: 8px;
  box-shadow: 0 30px 50px rgba(30, 21, 49, 0.3);
}
textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  line-height: 28px;
  color: #0e101a;
  background-color: #FAF9F6;
}

.count {
  background-color: #000;
  width: 80%;
  padding: 20px;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(30, 21, 49, 0.4);
}
.count p {
  color: #a0a0c0;
}

.count h5 {
  color: #fff;
  font-size: 32px;
}

/* Media Queries */
@media(max-width: 408px){
  /* Shrink .wrapper by 20%*/
   .wrapper {
     transform: translate(-50%, -50%) scale(0.8);
   }
    .count{
      width: 90%;
    }
   
   
 }
 /* Smallest phone */
@media(max-width: 350px){
  /* Shrink .wrapper by 40%*/
   .wrapper {
     transform: translate(-50%, -50%) scale(0.7);
   }
    .count{
      width: 95%;
    }
   
   
 }

 /* Clear Btn */
 .btn--clear-div{
  display: flex;
 }

 
 #btn-clear {
  color: #313639;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FAF9F6;
  box-shadow: 0 20px 40px rgba(30, 21, 49, 0.4);
  transition: all 0.3s ease;
 }